<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scraping Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center border-bottom">
      <h1 class="font-weight-bold">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="../scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><u>Latest Mars News</u></h2>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-md-12">
        <h4>{{mars.news_title}}</h4>
        <p>{{mars.news_p}}</p>
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2 class=""><u>Featured Mars Image</u></h2> 
        </br>
        <img class="img-fluid img-thumnail" src="{{mars.featured_image_url}}" alt="Features Mars Image">
      </div>
        <div class="col-lg-5 col-md-12">
          <div class="box"></div>
          <h2 class="align-items-center">Mars Facts</h2>
            {{ mars.fact_table | safe }}
        </div>
      </div>
    </div>
  <hr>
    <section class="container">
        <h2 class="align-items-center"><u>Mars Hemispheres</u></h2> 
        <hr> 
        <div class="row">       
            {% for hemisphere in mars.hemisphere_images %} 
              <div class="col-lg-3 col-sm-6">
                 <div class="box">
                    <div style="padding:10px 10px 10px 10px" class="row">
                      <img width="180" height="180" class="img-fluid img-thumnail" src="{{ hemisphere.img_url}}"/>
                    </div>
                  
                    <div class="row">
                      <h4 style="front-size:16px; font-weight:bold;margin:5px 20px 20px">{{ hemisphere.title | safe }} </h4>  
                    </div>
                  </div>
              </div>
            {% endfor %}
        </div>
      </section>
    </div> 

  <hr>
  
</body>

</html>


   